.section-top {
    padding: 3rem 0 0 0;
}

h1 a, h1 a:hover {
    text-decoration: none;
    color: inherit;
}

#nav {
	margin: 13px 0 0 0;
}

#nav ul li {
	display: inline;
	margin: 0 20px 0 0;
	margin-bottom: 130px;
}

#nav a {
	text-decoration: none;
	color: black;
}

#nav a:hover {
	text-decoration: underline;
}
